[mysqld]

# About MySQL.
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql

# Caching & Limits. @see http://forums.cpanel.net/f189/best-optimization-my-cnf-269391.html
query_cache_limit = 4M
query_cache_size = 256M
table_cache = 256
table_definition_cache = 1K
open_files_limit = 768

# Thread caching.  @see http://serverfault.com/questions/408845/what-value-of-thread-cache-size-should-i-use
thread_cache_size = 8k # 16k is max.  default is 4 (no k).

# Others recommended by mysqltuner.pl.
innodb_buffer_pool_size = 4092M
max_connections = 150
symbolic-links = 0
max_allowed_packet = 32M
join_buffer_size = 3M
max_heap_table_size = 64M
tmp_table_size = 64M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

